@media(min-width:767px){

/* --------------------------------- */
/* HEADER */
/* --------------------------------- */

header{
    background-image:url(css/img/background\ Desktop.png);  
}

h1{
     font-size: 40px;
     margin-top: 10%;
     margin-left: 55%;
}

h2{
    font-size: 30px;
    margin-left: 55%; 
}

.nav-menu{
    width: 20%;
    height: 94%;
}

.hero-icon{
    bottom: 8%;
    right: 8%;
    font-size: 40px;
}

.about-us-text{
    font-size: 19px;
    font-weight: 300;
    text-align: center;
    width: 260px;
    height: 280px;
    padding: 10px 14px;
}

/* --------------------------------- */
/* ABOUT US */
/* --------------------------------- */

cite{
    font-size: 30px;
    font-weight: 200;
}

cite img{
    width: 30%;
    border-radius: 50%;
}

/* --------------------------------- */
/* gallery */
/* --------------------------------- */

.food-photo{
    flex: 0 0 31%;
}

.food-photo >img:hover{
    box-shadow:-4px -4px 4px rgba(0, 0, 0, 0.79), 4px 4px 4px rgba(0, 0, 0, 0.79);
}

/* ------------------------------- */
/* section contact */
/* -------------------------------- */

.section-contact h3{
    font-size: 30px;
    font-weight: 200;
    padding: 15px;
    margin: 30px;
}

input[type=text]{
    font-size: 25px;
    font-weight: 100;
    padding: 5px;
    margin-top: 20px;
    width: 270px;
}

.subscribe{
    width: 270px;
    height: 60px;
    font-size: 35px;
}

.facebook{
    font-size: 35px;
    margin: 20px 0;
}

.twitter{
    font-size: 35px;
    margin: 20px 0;
}

.instagram{
    font-size: 35px;
    margin: 20px 0;
}

/* ------------------------------- */
/* footer */
/* -------------------------------- */

footer{
    padding:30px 10px;
    font-size: 40%;
}

}


@media(min-width:1024px){
    
/* --------------------------------- */
/* HEADER */
/* --------------------------------- */

header{
    background-image:url(css/img/background\ Desktop.png);
    
}

h1,h2,h3{
    font-weight: 100;
}

h1{
     font-size: 40px;
     margin-top: 2%;
     margin-left: 70%;
}

h2{
    font-size: 30px;
    margin-left: 70%;
   
}
.nav-btn{
    font-size: 40px;
    padding-top: 20px;
    padding-left: 30px;
}
.nav-menu{
    width: 10%;
    height: 90%;
}

.hero-icon{
    position: absolute;
    bottom: 37%;
    right: 8%;
    font-size: 40px;
}

/* --------------------------------- */
/* ABOUT US */
/* --------------------------------- */

.about-us{
     background-image:url(css/img/about\ us\ desktop.png);
}

cite{
    font-size: 20px;
    font-weight: 100;
}

cite img{
    width: 10%;
}

/* --------------------------------- */
/* gallery */
/* --------------------------------- */

.food-photo{
    flex: 0 0 23%;
}

.food-photo >img:hover{
    box-shadow:-4px -4px 4px rgba(0, 0, 0, 0.79), 4px 4px 4px rgba(0, 0, 0, 0.79);
}

/* --------------------------------- */
/* tricks */
/* --------------------------------- */


.tricks-heading h3{
    font-size: 50px;
    padding-top: 50px;
}

h4{
    font-size: 30px;
}

.foodie__content{
    font-size: 20px;
    margin: 0;
}

.foodie__hero > img{
    width: 75%;
    height: 75%;
    margin: 0;
}

/* ------------------------------- */
/* section contact */
/* -------------------------------- */

.section-contact h3{
    font-size: 40px;
    font-weight: 200;
    padding: 20px;
    margin: 40px;
}

input[type=text]{
    font-size: 40px;
    font-weight: 100;
    padding: 20px;
    margin-top: 20px;
    width: 300px;
    height: 70px;
   
}

.subscribe{
    width: 300px;
    height: 70px;
    font-size: 40px;
}

.facebook{
    font-size: 40px;
}

.twitter{
    font-size: 40px;
}

.instagram{
    font-size: 40px;
}

/* ------------------------------- */
/* footer */
/* -------------------------------- */

footer{
    padding:30px 1px;
    font-size: 60%;
}

}

@media(max-width:1200px){
    
/* --------------------------------- */
/* HEADER */
/* --------------------------------- */

header{
    background-image:url(css/img/background\ Desktop.png);
    
}

h1{
     font-size: 50px;
     margin-top: 2%;
     margin-left: 70%;
}

h2{
    font-size: 40px;
    margin-left: 70%;
   
}

.nav-btn{
    font-size: 50px;
    padding-top: 30px;
    padding-left: 30px;
}
.nav-menu{
    width: 20%;
    height: 95%;
}

.hero-icon{
    position: absolute;
    bottom: 8%;
    right: 8%;
    font-size: 40px;
}

/* --------------------------------- */
/* ABOUT US */
/* --------------------------------- */

.about-us{
     background-image:url(css/img/about\ us\ desktop.png);
}

cite{
    font-size: 30px;
    font-weight: 100;
}

cite img{
    width: 30%;
}

.about-us-text{
    font-size: 25px;
    border: 3px solid #000;
    width: 350px;
    height: 350px;
    padding: 15px 18px;
}

/* --------------------------------- */
/* gallery */
/* --------------------------------- */

.food-photo{
    flex: 0 0 31%;
}

.food-photo >img:hover{
    box-shadow:-4px -4px 4px rgba(0, 0, 0, 0.79), 4px 4px 4px rgba(0, 0, 0, 0.79);
}

/* ------------------------------- */
/* section contact */
/* -------------------------------- */

.section-contact h3{
    font-size: 50px;
}


.subscribe{
    font-size: 50px;
}
.follow{
    font-size: 40px;
    margin-top: 50px;
}

.facebook{
    font-size: 50px;
    padding: 8px;
}

.twitter{
    font-size: 50px;
    padding: 8px;
}

.instagram{
    font-size: 50px;
    padding: 8px;
}

/* ------------------------------- */
/* footer */
/* -------------------------------- */

footer{
    padding:30px 1px;
    font-size: 50%;
}

}



        
