/* 
yellow #F5F866
*/

/* ---------------------- */
/* BASIC SETUP */
/* ---------------------- */

*{
    margin:0 auto;
    padding:0;
    box-sizing: border-box;
}

html,
body{
    background-color: #fff;
    color: #000;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    max-width: 480px;
    text-rendering: optimizeLegibility;
}


/* --------------------------------- */
/* reusable components */
/* ---------------------------------*/


.row{
    max-width: 480px;
    margin: 0 auto;
}

h1,h2,h3{
    font-weight: 200;
    text-align: center;
    
    
}

h1{
     color: #F5F866;
     font-size: 30px;
     margin-top: 8%;
     margin-left: 50%;

}

h2{
    color: #fff;
    font-size: 20px;
    margin-left: 50%;
   
}
h3{
    color:#000;
    font-size: 35px;
    font-weight: 300;
    margin-top: 30px;
}

h4{
    font-size: 15px;
}

/* --------------------------------- */
/* BUTTONS*/
/* ---------------------------------*/


.btn:link,
.btn:visited,
input[type=submit]{
    display: inline-block;
    width: 50px;
    height: 50px;
    color: #fff;
}

.catch-us:link,
.catch-us:visited,
input[type=submit]{
    background-color: rgba(255, 255, 255, 0.23);
}

/* --------------------------------- */
/* Icons*/
/* ---------------------------------*/

.hero-icon{
    position: absolute;
    bottom: 3%;
    right: 15%;
    font-size: 40px;
    text-align: center;
    box-sizing: border-box;
    border: 4px solid #F5F866;
    background: rgba(255, 255, 255, 0.23);
    border-radius: 30%;
    
}

/* --------------------------------- */
/* HEADER */
/* --------------------------------- */

header{
    background-image: url(css/img/background\ mobile\ \(1\).jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 100vh;
}

.hero-text-box{
    position: relative;
}
   
/* ----------NAV BTN!---------- */
.nav-btn{
    display: inline-block;
    color:#F5F866;
    font-size: 30px;
    font-weight: 100;
    padding-top: 10px;
    padding-left: 20px;
    text-decoration: none;
    
}

.dropdown-container{
    list-style: none;
    overflow: hidden;
    
}
.dropdown a:hover, 
.dropdown:hover .nav-btn{
    color: #F5F866;
}

 .dropdown{
    display: inline-block;
}

.nav-menu{
    display: none;
    position: absolute;
    background-color:#F5F866;
    width: 40%;
    height: 94%;
    min-width: 160px;
    z-index: 2px;

}

.nav-menu a{
    color: #000;
    padding: 20px 30px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.nav-menu a:hover{
    background-color:#fff;
    color: #000;
}

.dropdown:hover .nav-menu{
    display: block;
}

/* --------------------------------- */
/* ABOUT US */
/* --------------------------------- */

cite{
    font-size: 25px;
    font-weight: 300 lighter;
    display: block;
    text-align: center;
    padding: 20px;
}


cite img{
    width: 50%;
    border-radius: 50%;
    display: block;
    /* margin:20px 25px 20px 25px; */
    padding: 20px;
}

.about-us-text{
    position: relative;
    display: flex;
    flex-direction: row;
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    border: 2px solid #000;
    border-radius: 5%;
    width: 306px;
    height: 300px;
    padding: 13px 16px;
    margin: 40px auto 40px auto;
}


/* --------------------------------- */
/* gallery */
/* --------------------------------- */

/* .flex-container{ 
    max-width: 480px;
   width: 97%;
    height: 100vh; 
} */
.row1{
     display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/* .row1 div{
    padding: 5px;
    margin: 2% auto;
} */

.food-photo{
    padding: 0 10px 10px;
    /* flex: 0 0 1%; */
}



/* --------------------------------- */
/* tricks */
/* --------------------------------- */

.section-tricks{
    position: relative;
    background-color: #F5F866;
}
    

.tricks-heading h3{
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 40px;
    padding-top: 30px;
    font-weight: 200;

}
 .foodie{ 
    display: flex;
    max-width: 480px;
    align-items: center;
    justify-content: center;
    padding: 5px 4px;
}

.foodie__hero{
    flex: 0 0 50%;
}

.foodie__content{
    flex:0 0 45%;
    
}

.sandwich__img,
.salad__img,
.momo__img,
.tea__img,
.pancake__img,
.mocktail__img{
    width: 95%;
    display: block;

}
.mocktail__img{
    padding-bottom: 30px;
}
/* ------------------------------- */
/* section contact */
/* -------------------------------- */

.section-contact{
    position: relative;
    text-align: center;
}
.section-contact h3{
    font-size: 20px;
    font-weight: 300;
    padding: 10px;
    margin: 30px;
    
}

input[type=text]{
    font-size: 25px;
    font-weight: 100;
    padding: 10px;
    margin-top: 10px;
    width: 250px;
    height: 50px;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
}

.follow{
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.social-icons {
    font-size: 50px;
    
}

.subscribe{
    border: 2px solid #000;
    border-radius: 5%;
    background-color: #fff;
    text-align: center;
    width: 250px;
    height: 50px;
    font-size: 30px;
    padding: 2px;
    margin-top: 40px;
}

.btn-sub:link,
.btn-sub:visited{
    display: inline-block;
    color: #000;
}

/* .btn-social{
    border: none;
    background-color: transparent;
    font-size: 30px;
    margin: 30px 0;
    padding: 5px;
} */

.btn-social:link,
.btn-social:visited{
    display: inline-block;
    text-decoration: none;
}
    
.facebook{
    border: none;
    background-color: transparent;
    font-size: 30px;
    margin: 30px 0;
    padding: 5px;
    color:#3b5998;
}

.twitter{
     border: none;
    background-color: transparent;
    font-size: 30px;
    margin: 30px 0;
    padding: 5px;
    color:#00aced;
}

.instagram{
     border: none;
    background-color: transparent;
    font-size: 30px;
    margin: 30px 0;
    padding: 5px;
    color:#C13584;
}

/* ------------------------------- */
/* footer */
/* -------------------------------- */

footer{
    background-color: #333;
    padding:20px 5px;
    font-size: 55%;
    color: #fff;
    font-weight: 100;
}


.flex-box-container{
    display: flex;

}

.contact{
    flex: 0 0 120px;

}

.copyright{
    flex: 0 0 230px;
}
